{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "semi": false,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "levels/locations.json",
      "options": {
        "parser": "json-stringify"
      }
    }
  ]
}
